
/* pour le flottement */
.cb {
    clear: both;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

/* pour être reconnu par tous les navigateurs */
header{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

/* css général */

body
{
    background-color: rgb(230,229,226); /* Le fond de la page */
    font: .8em Verdana, Arial, Helvetica, sans-serif;
}



div#conteneur{
    width: 100%;
    margin:auto;
}

/* css header */

#logo{
    position: absolute;
    top: -10px;
    left: 200px;
}

nav{
    flex-wrap: wrap; /* flexbox responsive */

}

#navigation {
    margin-left: 100px;
    text-align: center;
    margin:0;
    padding:0;
}



#navigation ul li{
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    background: rgb(244,243,242);
    
}

#navigation ul li a {
    text-decoration: none;
    color: rgb(99,87,86);
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    background: rgb(244,243,242);
    margin: 10px;
}


#navigation a:hover {
    background-color: rgb(99,87,86);
    color: rgb(244,243,242);
  }

/* css du main contenu principal */

main{
    width: 800px;
    align-content: center;
    flex-direction: column; /* flexbox responsive */
    margin:auto;
    margin-top:55px;
}

.content-block {
    width: 805px;
    height: 475px;
    margin-top: 100px;
    text-align: center;
    margin:auto;

}
.content-block .block-img {
    float: left;
    width: 360px;
}

.content-block .block-img img
{
	width:360px;
	height:475px;
}

.content-block > article {
    float : left;
    width: 445px;

}

.extract{
    margin-top: 10px;
    margin-left:45px;
    margin-right:45px;
    word-spacing: 0.3em;
    /*letter-spacing: 0.3em;*/
}




article{
    background-color: rgb(255,255,255);
    width: 445px;
    height: 475px;
    align-content: center;
    
}

aside{
    margin-top: 55px;
    margin-bottom: 55px;
}


h2{
    color: rgb(90,74,74);
    margin-top:65px;
    margin-left:45px;
    margin-right:75px;
    text-align: center;
}

p{
    color: rgb(90,74,74);
    /*align-content: center;*/
}

.date{
    text-align: right;
    margin-right: 15px;
}

.categorie{
    text-align: left;
    margin-top: 130px;
    margin-left: 45px;
    color: rgb(90,74,74);

}

/*css nav précédent et suivant */

#navigation-prec-suiv ul li{
    display: inline-block;
    margin-left: 400px;
    padding: 10px;
    background: rgb(99,87,86);
    
}

#navigation-prec-suiv ul li a {
    text-decoration: none;
    color: rgb(244,243,242);
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    background: rgb(90,74,74);
    margin: 0px;
}


#navigation-prec-suiv a:hover {
    background-color: rgb(244,243,242);
    color: rgb(99,87,86);

/* css footer */

footer{
    display: inline-block;
  
}

#navigation-footer nav ul {
    display: inline-block;
    /*display: flex;*/
    float:left;
    margin: 0;
}


#navigation-footer nav li a{
    text-decoration: underline;

}


.entreprise{
    text-align: right;
    margin-left: 205px;
    font-weight:bold;
}

.auteur{
    text-align: right;
    margin-top: 2px;
    font-size: 11px;
}



